body{
    color:rgb(33, 33, 33);
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(100, 237, 214);

    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}
#header{
background-color: rgb(110, 201, 99);
box-shadow: 0px 2px 10px 0px rgb(33, 33, 33);
color: white;
font-weight: bold;
margin: 0;
padding: 1em;
}

#header #tagline{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0 8em;
}

.text-center{
text-align: center;
background-color: rgb(110, 201, 99);
box-shadow: 0px 2px 10px 0px rgb(33, 33, 33);
color: white;
font-weight: bold;
margin: 0;
padding: 1em;

width: 70%;
padding: 0.05em;
text-align: center;
margin: 0 auto;
}